:host {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 0em;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  _padding: 0px;
  color: white;
  _background-color: #29394b;
  background-color:rgb(8, 116, 80);
  margin: 0 12px 12px 0;
  border-radius: 10px; */
}

.crSession {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  background-color:rgba(230, 104, 0, 0.925);
  margin: 0 12px 12px 0;
}

.crCommentaires {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  background-color: #29394b;
  margin: 0 12px 12px 0;
}

.crSpacer {
  flex: 1;
}

:host(.crTile) {
  background-color: #951212;
}

.crTileTitle {
  font-size: 1.6em;
  flex: 1;
  _text-align: center;
  color: white;
  margin-top: 0.8em;
  padding: 0em 0.8em;
}

.crBar {
  _margin-top: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.crTarif {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 0em;
  margin-bottom: 0.8em;
  margin-right: 0.8em;
  padding: 0.3em 1em 0.2em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  color: #29394b;
  text-decoration: none;
}

ul {
  margin: 0em 0.8em 1em 2em;
  padding-left: 0em;
}

p {
  margin: 1em;
}
