

<app-teasing></app-teasing>

<img alt="Photo" width="100%" src="assets/pictures/darius-nath-square.jpg">
<!-- <img alt="Photo d'accueil" width="100%" src="assets/pictures/nath-massai-darius.jpg"> -->

<br/>
<br/>

<!-- <app-covid></app-covid> -->
<app-contact [makeItShort]="true"></app-contact>
<app-methode [makeItShort]="true"></app-methode>
<app-ateliers  [makeItShort]="true"></app-ateliers>
<app-exercices [makeItShort]="true"></app-exercices>
<app-parcours [makeItShort]="true" ></app-parcours>
