
<header  >
  <h1>L'éducation de chiens de cavaliers</h1>
</header>

<section>
  <div>
    <p>
      Vous êtes cavalier et souhaitez pouvoir vous balader à cheval accompagné de votre chien ?
      <strong>
        Cet atelier est fait pour vous!
      </strong>
    </p>
    <p>
      Forte de mon experience en tant que <strong>monitrice d'équitation</strong>, j'ai pu appréhender les difficultés particulières auxquelles sont confrontés les cavaliers lors de leurs balades.
      Maitriser son cheval est déjà un sujet à part entière; le faire avec son chien relève parfois du défi.
    </p>
    <p>
      Les bases de l'éducation d'un chien de cavalier ne diffèrent pas de celles que j'utilise au quotidien. Il est donc indispensable de commencer l'atelier sans le cheval.
      Nous travaillerons dans un premier temps les notions de déplacement, de territoire et de contact. Les exercices avec le cheval se feront dans un second temps.
  </p>
  </div>
</section>

<footer>
</footer>
