<header>
  <!-- <h1>Mesures Sanitaires - Information COVID</h1> -->
</header>

<section>

  <div class="crCovid">
      <ul class="crNobullets">
          <li class="crCovidBigger">Mesures Sanitaires - Information COVID</li>
          <li>
            En raison des mesures sanitaires et des nouvelles restrictions, je me vois dans l'obligation de r&eacute;organiser les ateliers et les tarifs correspondants.
          </li>
          <li>&nbsp;</li>
          <li>
            Notez &eacute;galement que notre planning &eacute;voluera en fonction des directives du gouvernement. Certains de nos ateliers collectifs risquent donc d'&ecirc;tre report&eacute;s.
          </li>
          <li>&nbsp;</li>
          <li>
            Merci pour votre compr&eacute;hension!
          </li>
      </ul>
  </div>
</section>

<footer>
</footer>
