<section>

    <h2>Contrat d'&eacute;ducation canine</h2>
    <p>
        Merci d'imprimer et de remplir le contrat d'&eacute;ducation canine
    </p>
    <p>
        <a class="crBouton" href="assets/documents/CEC.pdf" download="ContratEducationCanine.pdf">
            T&eacute;l&eacute;charger
        </a>
    </p>

    <h2>Conditions g&eacute;n&eacute;rales de vente</h2>
    <p>
        <a class="crBouton" href="assets/documents/CGV.pdf" download="ConditionsGeneralesDeVente.pdf">
            T&eacute;l&eacute;charger
        </a>
    </p> 
</section>

