<header>

    <h1>M&eacute;thode &eacute;thologique</h1>
</header>

<section>
    
    <div *ngIf="makeItShort"> 
        <p style="text-align: justify;">La m&eacute;thode que je vous propose r&eacute;sulte de l'observation du <strong>comportement</strong> de chiens en meute. Cette m&eacute;thode a fait ses preuves. elle est aujourd'hui reconnue et utilis&eacute;e par de nombreux &eacute;ducateurs canins ...</p>

        <p>
            <a class="crBouton" routerLink="/methode" >
                En savoir plus ...
            </a>
        </p>
        <br />
    </div>

    <div *ngIf="!makeItShort"> 

        <p style="text-align: justify;">L'&eacute;thologie est l'&eacute;tude scientifique du comportement des esp&egrave;ces animales, dans leur milieu naturel, par des m&eacute;thodes scientifiques d'observation et de quantification des comportements.</p>
        <p style="text-align: justify;">La m&eacute;thode que je vous propose r&eacute;sulte de l'observation du <strong>comportement</strong> de chiens en meute. Cette m&eacute;thode a fait ses preuves. elle est aujourd'hui reconnue et utilis&eacute;e par de nombreux &eacute;ducateurs canins. Les m&eacute;thodes conventionnelles, bas&eacute;es sur le concept de dressage, ont montr&eacute; leurs limites et nombreux sont ceux qui se detournent aujourd'hui de ces approches.</p>
        <p style="text-align: justify;">Pour que votre chien vous ob&eacute;isse le dressage n'a que peu d'int&eacute;r&ecirc;t. L'&eacute;tude du comportement des chiens dans leur environnement naturel montre clairement qu'il existe au sein de la meute une <strong>hi&eacute;rarchie</strong> bien &eacute;tablie et que c'est le chien <strong>dominant</strong> qui g&egrave;re les d&eacute;placements, les contacts et les territoires.</p>
        <p style="text-align: justify;">Pour corriger le comportement de votre chien il vous suffit de devenir le "<strong>leader</strong>". Vous pouvez atteindre cet objectif en suivant l'un des ateliers que je propose. Quel que soit l'atelier choisi, un panel d'exercices complet sera mis en &oelig;uvre avec des mises en <strong>situation concr&egrave;tes</strong>. Les exercices pratiqu&eacute;s peuvent n&eacute;anmoins &ecirc;tre adapt&eacute;s en fonction de vos besoins et de votre chien.</p>
        <p style="text-align: justify;">Vous serez surpris de voir &agrave; quel point le comportement de votre compagnon peut &eacute;voluer rapidement. Notre retour d'exp&eacute;rience montre &eacute;galement que les r&eacute;sultats obtenus sont <strong>durables</strong>. Les chiens respectent assez naturellement la hi&eacute;rarchie une fois que celle-ci est en place.</p>
        <p style="text-align: justify;">Un autre aspect important de notre m&eacute;thode r&eacute;side dans le fait qu'elle ne fait appel qu'&agrave; l'<strong>intelligence</strong> du chien. Il s'agit d'une m&eacute;thode sans cri, sans friandise, sans punition et bien &eacute;videmment <strong>sans violence</strong>. Le respect de l'animal est pour moi un aspect fondamental qui est malheureusement tr&egrave;s souvent n&eacute;glig&eacute; par les &eacute;ducateurs faisant appels &agrave; des m&eacute;thodes conventionnelles.</p>
        <p style="text-align: justify;">Vous l'avez compris, la <strong>compr&eacute;hension du comportement</strong> du chien est la base de tout. Elle me permet d'&eacute;tablir une complicit&eacute; propice &agrave; l'&eacute;ducation ou la r&eacute;&eacute;ducation de votre compagnon. Je serai ravie de vous accompagner afin que vous puissiez &agrave; votre tour tirer profit de mes connaissances.</p>
        <br />
    </div>

</section>

<footer>

    <div *ngIf="!makeItShort"> 

        <img alt="Photo d'accueil" width="100%" src="assets/pictures/nath-4chiens.jpg">

        <p>
            <a class="crBouton crRetour" routerLink="/" >
                Retour &agrave; l'accueil
            </a>
        </p>
    </div>

</footer>



