<header>

    <h1>M&eacute;thode &eacute;thologique</h1>
</header>

<section>

    <div *ngIf="makeItShort">
        <p style="text-align: justify;">La m&eacute;thode que je vous propose r&eacute;sulte de l'observation du <strong>comportement</strong> de chiens en meute. Cette m&eacute;thode a fait ses preuves. elle est aujourd'hui reconnue et utilis&eacute;e par de nombreux &eacute;ducateurs canins ...</p>

        <p>
            <a class="crBouton" routerLink="/methode" >
                En savoir plus ...
            </a>
        </p>
        <br />
    </div>

    <div *ngIf="!makeItShort">
      <h2 style="text-align: justify;">
        Connaissez-vous la différence entre éducation canine et dressage ?
      </h2>

      <p style="text-align: justify;">
        En tant qu’éducateur canin comportementaliste, il me semble essentiel de clarifier la différence
        entre l'éducation canine (méthode que j'applique) et le dressage. Car en effet, ces deux approches sont souvent confondus. Pour moi,
        cette distinction est primordiale, car elle touche directement à la manière dont nous interagissons
        avec nos chiens, en respectant leur bien-être et leur individualité.
      </p>

      <h3 style="text-align: justify;">
        Le dressage - une approche basée sur l'obéissance stricte
      </h3>

      <p style="text-align: justify;">
        Le dressage traditionnel repose souvent sur des techniques visant à obtenir une obéissance
        immédiate et précise du chien, parfois en utilisant la violence et une extrême autorité.
        Le chien est conditionné à exécuter des ordres précis. Le risque de cette approche est de créer
        un rapport de domination et de soumission, où le chien obéit par crainte. Le lien entre l'humain
        et le chien peut alors se limiter à cette relation de contrôle, sans forcément prendre en compte
        le bien-être émotionnel de l’animal.
      </p>

      <p style="text-align: justify;">
        En ce qui me concerne, l’éducation canine que je propose est basée sur une relation de confiance.
        Pour cela, j'utilise une méthode éthologique qui permet à votre chien de mieux vous comprendre. Les liens affectifs sont donc ma priorité.
      </p>

      <h3 style="text-align: justify;">
        L'éducation canine - la meilleure option
      </h3>

      <p style="text-align: justify;">
        Mon approche, basée sur l'éducation canine, est bien différente. Il ne s'agit pas d'apprendre au
        chien à «&nbsp;obéir&nbsp;» coûte que coûte, mais plutôt de l'accompagner dans l'apprentissage de
        règles de vie simples, de manière à rendre le quotidien agréable pour lui, comme pour vous.
        L’objectif est de créer une relation équilibrée, fondée sur la confiance et le respect mutuel.
        Il n’y a ni domination ni crainte, mais un cadre clair et sécurisant pour le chien.
      </p>

      <p style="text-align: justify;">
        L’éducation repose sur une compréhension profonde du comportement canin, en prenant en compte
        les besoins naturels de l’animal. Les règles que je mets en place permettent au chien de
        s'apaiser, car il sait ce qui est attendu de lui, sans jamais se sentir contraint. Cela favorise
        une relation harmonieuse, où le chien est un véritable partenaire de vie, et non pas un
        subordonné.
      </p>

      <p style="text-align: justify;">
        Je travaille toujours dans le respect du chien, sans utiliser de friandises. Mon rôle est de
        guider le chien, tout en respectant ses capacités d’apprentissage et ses limites. Je le dis
        souvent, pour moi il n'y a pas de chien «&nbsp;méchant&nbsp;» ou «&nbsp;gentil&nbsp;»&nbsp;:
        il y a simplement des chiens qui réagissent face à une situation de stress, de peur, de
        douleur, de contrôle ou d’instinct. Mon travail consiste à vous aider à comprendre ces réactions
        pour mieux y répondre, dans le respect de la nature de votre chien.
      </p>

      <p style="text-align: justify;">
        En résumé, l'éducation canine est une démarche éthique, où le chien apprend à s’intégrer à notre
        vie d'humains bien compliquée. Il ne s’agit pas de lui imposer des comportements, mais de lui
        offrir un cadre stable, où il peut évoluer en confiance. C'est cette approche, fondée sur la
        bienveillance, qui permet de créer une relation durable et épanouie entre vous et votre chien.
      </p>

      <p style="text-align: justify;">
        Vous l'aurez compris, la compréhension du comportement du chien est la base de tout.
        Elle permet d'établir une complicité propice à l'éducation ou à la rééducation de votre
        compagnon. Je serai ravie de vous accompagner afin que vous puissiez à votre tour tirer
        profit de mes connaissances.
      </p>
    </div>


</section>

<footer>

    <div *ngIf="!makeItShort">

        <img alt="Photo d'accueil" width="100%" src="assets/pictures/nath-4chiens.jpg">

        <p>
            <a class="crBouton crRetour" routerLink="/" >
                Retour &agrave; l'accueil
            </a>
        </p>
    </div>

</footer>



