
<header  >
    <h1>Les ateliers propos&eacute;s</h1>

    <app-covid></app-covid>
    <div *ngIf="makeItShort">
        <p style="text-align: justify;">Afin de satisfaire le plus grand nombre, je vous propose des ateliers sous diff&eacute;rents formats, avec au choix, des cours individuels ou collectifs.</p>
        <p style="text-align: justify;">L'objectif des ateliers est d'&eacute;duquer ou de r&eacute;&eacute;duquer votre chien. Notre m&eacute;thode fonctionne aussi bien avec les chiots qu'avec les vieux chiens et ce, quelle que soit la race.</p>
        <p style="text-align: justify;">Notez que les chiots ont des difficult&eacute;s &agrave; suivre les s&eacute;ances jusqu'au bout. En effet, ils finissent par s'endormir! C'est la raison pour laquelle je d&eacute;conseille les ateliers intensifs pour les chiots de moins de 6 mois.</p>
    </div>

    <div *ngIf="!makeItShort">
        <p style="text-align: justify;">Choisissez l'un des ateliers ci-dessous:</p>
    </div>

</header>

<section>

    <div class="crTuiles" *ngIf="!makeItShort">
        <app-atelier
            [ngClass]="{ 'crTile': true , 'crSelected': false }"
            *ngFor="let atelier of ateliers"
            [atelier]="atelier"
        >
        </app-atelier>
    </div>

</section>

<footer>

    <div *ngIf="makeItShort">
        <p>
            <a class="crBoutonRouge" routerLink="/ateliers" >
                Voir les ateliers et nos tarifs ...
            </a>
        </p>
    </div>
    <br />

    <div *ngIf="!makeItShort">

        <h2>Test d'&eacute;valuation gratuit et sans engagement</h2>
        <p style="text-align: justify;">
            Je vous accueille à CRUIS (04230) pour un test d'&eacute;valuation gratuit au cours duquel je vous pr&eacute;senterai ma m&eacute;thode d'&eacute;ducation et vous expliquerai ce qui peut &ecirc;tre fait pour am&eacute;liorer le comportement de votre chien. </p>

        <p style="text-align: justify;">
            Vous habitez loin et souhaitez des r&eacute;sultats rapides ? L'atelier intensif individuel est fait pour vous.
            Le test sera fait le jour m&ecirc;me. Si vous n'&ecirc;tes pas convaincu(e), vous serez rembours&eacute;(e) et l'atelier sera interrompu.
        </p>

        <h2>Travail entre les s&eacute;ances</h2>

        <p style="text-align: justify;">
            Le programme permet d'obtenir des <strong>r&eacute;sultats rapides</strong>, cependant votre <strong>investissement personnel</strong> est primordial pour que l'atelier donne des <strong>r&eacute;sultats durables</strong>.
            Cela suppose notamment une pratique r&eacute;guli&egrave;re des exercices &agrave; la maison (pendant et apr&egrave;s la fin du programme).
        </p>

        <h2>Deux cours collectifs offerts</h2>

        <p style="text-align: justify;">
            Une fois le programme termin&eacute;, vous disposez de <strong>30 jours</strong> pour effectuer 2 cours collectifs qui vous sont offerts. Ces deux cours doivent impérativement être consécutifs au programme (de date à date). Ils ne peuvent en aucun cas être repoussés à une date ultérieure.<br>
            <br/>
            Ce suivi vous donne acc&egrave;s à des s&eacute;ances collectives de <strong>perfectionnement</strong>.
            Nous profiterons de ces moments pass&eacute;s en groupe pour travailler la <strong>socialisation</strong> de votre chien et pour revoir les exercices qui posent probl&egrave;me.
        </p>

        <p style="text-align: justify;">
            Notez que les s&eacute;ances de perfectionnement ne sont accessibles qu'aux chiens qui ont termin&eacute; l'un des ateliers que nous proposons. Le nombre de chiens sera limit&eacute; en fonction des r&egrave;gles sanitaires.
        </p>
        <p style="text-align: justify;">
            (*) L'atelier pour chiens de cavaliers ne bénéfie pas des deux cours collectifs offerts.
        </p>

        <h2>Cours supplémentaires</h2>

        <p style="text-align: justify;">
            Pour les chiens difficiles ou réactifs nous pourrons, si vous le souhaitez, organiser des séances supplémentaires. Celles-ci vous seront facturées.
        </p>

        <p>
            <br/>
            <a class="crBouton crRetour" routerLink="/" >
                Retour &agrave; l'accueil
            </a>
        </p>
    </div>

</footer>
