<header>
    <h1 style="text-align: CENTER;">Comprendre et g&eacute;rer son chien au quotidien</h1>
</header>

<section>
  <br/>
  Depuis plus de deux ans, je suis à votre disposition pour revoir ou parfaire l'éducation de votre chien. N'hésitez pas à me contacter pour en savoir plus sur la méthode que je propose.
  <h1>
      Mes particularit&eacute;s
  </h1>
  <ul>
      <li>M&eacute;thode <strong>&ldquo;&eacute;thologique&ldquo;</strong> : sans cri et sans friandise
      </li>
      <li>Test d'&eacute;valuation gratuit et sans engagement</li>
      <li>R&eacute;sultats rapides et durables</li>
  </ul>
</section>
