<header>
    <h1 style="text-align: CENTER;">Comprendre et g&eacute;rer son chien au quotidien</h1>
</header>

<section>
    <br/>
    <h1>
      Atelier pour chiens de cavaliers
    </h1>
    Nouveau  cette ann&eacute;e :
    <ul>
        <li>En plus des ateliers conventionnels, je vous propose un atelier sp&eacute;cialis&eacute; dans l'&eacute;ducation de <strong>chiens de cavaliers</strong>.</li>
    </ul>
    <h1>
        Mes particularit&eacute;s
    </h1>
    <ul>
        <li>M&eacute;thode <strong>&ldquo;&eacute;thologique&ldquo;</strong> : sans cri et sans friandise
        </li>
        <li>Test d'&eacute;valuation gratuit et sans engagement</li>
        <li>R&eacute;sultats rapides et durables</li>
        <li>2 mois de suivi offert (en cours collectifs) pour la plupart de nos ateliers</li>
    </ul>
</section>
